# Core modules (mandatory)
jupyterlite-core==0.1.2
jupyterlab~=3.6.5

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.1.2
jupyterlite-xeus-python==0.9.4

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# JupyterLab: dark theme
jupyterlab-night
# JupyterLab: Miami nights theme (optional)
jupyterlab_miami_nights

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.0,<9

# Python: ipynao library for Nao robot
ipynao>=0.6.1

# For examples with images
Pillow
